{% extends "layout.njk" %}

{% block content %}
<main>
  <h1>{{ title }}</h1>
  <p>{{ message }}</p>

  {% if not user %}
    <div class="loggain">
      <h2> Du måste logga in för att få tillgång till alla funktioner</h2>
    </div>
  {% endif %}

  <ul class="tweets">
    {% for tweet in tweets %}
        <article>
          <header>
            <h2>{{ tweet.name }}</h2>
            <time datetime="{{ tweet.updated_at }}">{{ tweet.updated_at }}</time>
          </header>
          <p>{{ tweet.message }}</p>
          <footer>
            <ul>
              <li>Shared</li>
              <li>Reply</li>
              
              {% if user %}
                <div class="box2">
                  <li>
                    <a href="/tweets/{{ tweet.id }}/edit" class="normal-link">Ändra</a>
                  </li>
                </div>
                <div class="box">
                  <li>
                    <a href="/tweets/{{ tweet.id }}/delete" class="normal-link">Ta bort</a>
                  </li>
                </div>
              {% else %}
                <div class="box2">
                  <li><a href="/login" class="normal-link">Ändra</a></li>
                </div>
                <div class="box">
                  <li><a href="/login" class="normal-link">Ta bort</a></li>
                </div>
              {% endif %}
              
            </ul>
          </footer>
        </article>
      </li>
    {% endfor %}
  </ul>
  
</main>
{% endblock %}
