{% extends "layout.njk" %}

{% block content %}
<main>
  <h1>{{ title }}</h1>
  <p>{{ message }}</p>
  <ul class="tweets">
    {% for tweet in tweets %}
      <li class="tweet" data-tweet-id="{{ tweet.id }}">
        <article>
          <header>
            <h2>{{ tweet.name }}</h2>
            <time datetime="{{ tweet.updated_at }}">{{ tweet.updated_at }}</time>
          </header>
          <p>{{ tweet.message }}</p>
          <footer>
            <ul>
              <li>Shared</li>
              <li>Reply</li>
              <li>
                <button class="favorite-btn">
                  <span class="star">☆</span> Favourite
                </button>
              </li>
              <div class="box2">
                <li>
                  <a href="/tweets/{{ tweet.id }}/edit" class="normal-link">Ändra</a>
                </li>
              </div>
              <div class="box">
                <li>
                  <a href="/tweets/{{ tweet.id }}/delete" class="normal-link">Ta bort</a>

                  
                </li>
                
              </div>
              
            </ul>
          </footer>
        </article>
      </li>
    {% endfor %}
  </ul>
  <div class="nytt"><a href="/tweets/skicka" class="normal-link">Skriv något</a></div>
</main>


{% endblock %}
