{% extends "layout.njk" %}

{% block content %}

<h1>Registrera dig</h1>

{% if error %}
  <div style="color: red; margin-bottom: 1em;">
    {{ error | safe }}
  </div>
{% endif %}

<form method="POST">
  <label for="name">Användarnamn:</label>
  <input type="text" name="name" value="{{ oldInput.name or '' }}" required />

  <label for="password">Lösenord:</label>
  <input type="password" name="password" required />

  <button type="submit">Registrera</button>
</form>

<a href="/login">Logga in</a>

{% endblock %}